include ../layout

block content
    h1 Lista de canciones 
    each cancion in canciones
        article(id=cancion.cancion_id, class="cancion")
            h2(class="titulo-cancion otra_clase")= cancion.titulo
            p= "Duración:" + cancion.duracion 
            h3="Álbumes:"
            ul 
                each album in cancion.albumes
                    li= album
            p="Género: " + cancion.genero
    script(type="module", src="/js/cancion.js") 